# .env.example
LUXIA_API_KEY=...

AWS_ACCESS_KEY_ID=ASIA...
AWS_SECRET_ACCESS_KEY=...
AWS_SESSION_TOKEN=...
AWS_REGION=us-east-1

# go to https://myaccount.google.com/security
#choose an app name : DebateCoach
#the app generates a password that you can use below (instead of your normal email password)
#use your own email address 
SMTP_EMAIL=youremail@gmail.com 
SMTP_APP_PASSWORD=xxxxxxxxxxxxxxxx
